<%- include ('head') %>
<title> <%= data.title %> - My website  </title>
<h1> <%= data.title %> </h1>
<p> <%=data.description %> </p>
<p> <a href="/">Back to list </a> </p>

<p>
    <button
    id="js-remove"
    data-id="<%= data.id %>"
    class="danger"
    >Remove</button>
</p>

<script src="../static/scripts/script.js"></script>
