<%- include('head.ejs') %>

<body>
    <%- include ('header.ejs') %>
    <%- include ('main.ejs') %>

<h1>Movies</h1>
<% for (var index = 0; index < data.length; index++) { %>
    <h2>
        <a href=""> <%= data[index].title %> </a>
    </h2>   
    <p> <%= data[index].plot %> </p>
    <p> <%= data[index].description %> </p>
<%} %>

</body>
</html>