<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('head') %>
    <title>Profiel</title>
</head>

<body>
    <div class="wrapper">
     <header class="profileheader" >
        <p>Hey <%= data.firstName %> !</p>
            <img src="../static/img/cam.png" alt=""> 
            <form action="/logout" method="POST">
                <button type="submit">
                    <img src="../static/img/logoutbutton.svg" alt="">
                </button>
            </form>
     </header>

    <main>
        <form class="profileform" action="" method="POST">
        <legend>Wie ben jij?</legend>
        <label for="firstName">Voornaam</label>
        <input type="text" name="firstName" placeholder="Voornaam" value="<%= data.firstName %>"> 


        <label for="age">Leeftijd</label>
        <input type="number" name="age" placeholder="Leeftijd" value="<%= data.age %>">


        <label for="hometown">Plaatsnaam</label>
        <input type="text" name="hometown" placeholder="Plaatsnaam" value="<%= data.hometown %>">


        <label for="gender">Geslacht</label>

        <label class="man" for="man">Man</label>
        <input type="radio" name="gender" value="man" value="<%= data.gender %>" checked="checked">

        <label for="vrouw">Vrouw</label>
        <input type="radio" name="gender" value="vrouw" value="<%= data.gender %>">

        <label for="beide">Beide</label>
        <input type="radio" name="gender" value="beide" value="<%= data.gender %>">

        
        <label for="searchSex">Zoekt naar</label>

        <label for="man">Man</label>
        <input type="radio" name="searchSex" value="man" value="<%= data.searchSex %>" checked="checked">

        <label for="vrouw">Vrouw</label>
        <input type="radio" name="searchSex" value="vrouw" value="<%= data.searchSex %>">

        <label for="beide">Beide</label>
        <input type="radio" name="searchSex" value="beide" value="<%= data.searchSex %>">

        <label for="email">E-mail</label>
        <input type="text" name="email" placeholder="E-mailadres" value="<%= data.email %>">

        <label for="password">Wachtwoord</label>
        <input type="password" name="password" placeholder="Password" value="<%= data.password %>">
        <a class="next" href="profileedit">Edit</a>
    </form>
    </main>

    </div>
    <% include('tail') %>
 
</body>

</html>