<%- include('head') %>

<body>
    <%- include ('header') %>
    <%- include ('main') %>

<h1>Movies</h1>
<% for (var index = 0; index < users.length; index++) { %>
    <h2>
        <a href="/<%= users[index].id %>"> <%= users[index].username %> </a>

    </h2>   
    <p> <%= users[index].plot %> </p>
    <p> <%= users[index].description %> </p>
    <p> <%= users[index].password %> </p>


    

<%} %>

<p>
    <a href="/add">Add a movie</a>
</p>


<script src="../index.js"></script>

</body>

</html>